<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="values" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="first_currencyName">
        <th mat-header-cell *matHeaderCellDef> First currency </th>
        <td mat-cell *matCellDef="let element"> {{element.first_currencyName}} </td>
      </ng-container>

      <ng-container matColumnDef="first_course">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell class="{{element.first_isMax ? 'max' : element.first_isMin ? 'min' : ''}}" *matCellDef="let element"> {{element.first_course}} </td>
      </ng-container>

      <ng-container matColumnDef="second_currencyName">
        <th mat-header-cell *matHeaderCellDef> Second currency </th>
        <td mat-cell *matCellDef="let element"> {{element.second_currencyName}} </td>
      </ng-container>

      <ng-container matColumnDef="second_course">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell class="{{element.second_isMax ? 'max' : element.second_isMin ? 'min' : ''}}" *matCellDef="let element">{{element.second_course}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

